/*UNIVERSAL RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Optima;
}

*{
    padding: 0.5%;
}

header{
    padding: 20px;
    text-align: center;
    font-family: Optima;
    font-weight: bold;
    background-color: #f2f2f2;
    color: #4A4E69;
}

.intro{
    margin-bottom: 20px;
    background-color: #C3C6D5;
}

.cards-container{
    width: 100%;
    color: #4A4E69;
}

h4{
    color: #9A8C98;
}

.cards-container article{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    vertical-align: top;
    background-color: #F2E9E4;
}

/*MOBILE DISPLAY*/
@media (max-width: 768px){
    .cards-container article {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

footer{
    margin-top: 24px;
    background-color: #f2f2f2;
    color: #4A4E69;
    padding: 20px;
    text-align: center;
    font-family: Optima;
    font-weight: bold;
}